name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
        with:
          node-version: "lts/Krypton"
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: make lint

      - name: Build bundle
        run: make bundle
